/home/francesco/Documents/Disney_BRDF/bin
/home/francesco/Documents/Disney_BRDF/build
/home/francesco/Documents/Disney_BRDF/cmake-build-debug
/home/francesco/Documents/Disney_BRDF/docs
/home/francesco/Documents/Disney_BRDF/images
/home/francesco/Documents/Disney_BRDF/papers
/home/francesco/Documents/Disney_BRDF/tools
/home/francesco/Documents/Disney_BRDF/CMakeLists.txt
/home/francesco/Documents/Disney_BRDF/readme.md
